// Global namespace for header component
$hero-namespace: "c-hero" !default;

.c-hero {
  background: #DFE9F2;
  min-height: 240px;
  padding: 150px 30px;
  text-align: center;
}

.c-hero__title {
  text-decoration: none;
}
