.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.cf {
    *zoom: 1;
    content: "";
    clear: both;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.u-link--natural {
  color: $brand-blue !important;
  text-decoration: underline !important;
}
