html, :root {
	box-sizing: border-box;
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $gray-dark;
	background: $gray-light;
	-webkit-font-smoothing: antialiased;
}

input[type=text] {
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
