<div class="dropdown-content">
    <section class="ac-container">
    		<div>
      			<input id="ac-1" name="accordion-1" type="radio" checked="">
      			<label class ="ac-container no-border-bottom no-border-top"><a class="top-level" href="#">Invest</a></label>
    		</div>
    		<div>
      			<input id="ac-2" name="accordion-1" type="radio">
      			<label class ="ac-container no-border-bottom"><a class="top-level" href="#">Fundraise</a></label>
    		</div>
    		<div>
      			<input id="ac-3" name="accordion-1" type="radio">
      	    <label class ="ac-container no-border-bottom"><a class="top-level" href="#">Testimonials</a></label>
    		</div>
        <div>
      			<input id="ac-4" name="accordion-1" type="radio">
            <label class ="ac-container no-border-bottom"><a class="top-level" href="#">Log In</a></label>
    		</div>
        <div>
            <input id="ac-5" name="accordion-1" type="radio">
            <label class ="ac-container no-border-bottom"><a class="top-level" href="#">Sign Up</a></label>
        </div>
        <div>
          <input id="ac-6" name="accordion-1" type="radio">
          <label for="ac-6">Help<i class="i-chevron-down"></i></label>
          <article class="ac-extra-large">
              <ul>
                  <li><a href="#">Fundraise FAQs</a></li>
                  <li><a href="#">Investor FAQs</a></li>
                  <li><a href="#">Learn</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Our Rates</a></li>
                  <li><a href="#">Refunds</a></li>
              </ul>
          </article>
        </div>
    </section>
</div>
