<div class="dropdown-content">
    <section class="ac-container">
    		<div>
      			<input id="ac-1" name="accordion-1" type="radio" checked="">
      			<label class="no-border-top" for="ac-1">Invest<i class="i-chevron-down"></i></label>
      			<article class="ac-small">
      					<ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">My Portfolio</a></li>
                    <li><a href="#">Newsfeed</a></li>
                </ul>
      			</article>
    		</div>
    		<div>
      			<input id="ac-2" name="accordion-1" type="radio">
      			<label for="ac-2">Fundraise<i class="i-chevron-down"></i></label>
      			<article class="ac-medium">
      					<ul>
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">My Portfolio</a></li>
                    <li><a href="#">Newsfeed</a></li>
                </ul>
      			</article>
    		</div>
    		<div>
      			<input id="ac-3" name="accordion-1" type="radio">
      	<label class ="ac-container no-border-bottom"><a class="top-level" href="#">Messages</a></label>

    		</div>
    		<div>
      			<input id="ac-4" name="accordion-1" type="radio">
      			<label for="ac-4">Help<i class="i-chevron-down"></i></label>
      			<article class="ac-large">
                <ul>
                    <li><a href="#">Fundraise FAQs</a></li>
                    <li><a href="#">Investor FAQs</a></li>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Our Rates</a></li>
                    <li><a href="#">Refunds</a></li>
                </ul>
      			</article>
    		</div>
        <div>
          <input id="ac-5" name="accordion-1" type="radio">
          <label for="ac-5">Account<i class="i-chevron-down"></i></label>
          <article class="ac-large">
              <ul>
                  <li><a href="#">Alerts</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Account Settings</a></li>
                  <li><a href="#">Switch Network</a></li>
                  <li><a href="#">Log Out</a></li>
              </ul>
          </article>
        </div>
    </section>
</div>
