<div class="c-nav c-nav--secondary">
  <div class="o-wrap">
    <ul class="c-nav__items">
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent active"><span class="">My Proposals</span></a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Investor Search</span></a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">My Investors</span></a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Newsfeed</span></a></li>
    </ul>
  </div>
</div>
