<div class="c-nav c-nav--secondary">
  <div class="o-wrap cf">
      <div class="u-pull-left">
          <ul class="c-nav__items">
            <li class="c-nav__item"><a href="#" class="c-nav__link-accent active"><span class="">My Proposals</span></a></li>
            <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Investor Search</span></a></li>
            <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">My Investors</span></a></li>
            <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Newsfeed</span></a></li>
          </ul>
      </div>
      <div class="u-pull-right">
          <div class="nudges">
              <span class="nudges-count">10 Nudges remaining</span>
              <button class="Button Button--primary Button--s">Buy Nudges</button>
            <!--<a class="u-link--natural" href="#">Need more Nudges?</a>-->
          </div>
      </div>
  </div>
</div>
