<header class="c-header c-header-wrap">

  <nav role="navigation" class="c-nav c-nav--primary">
    <div class="c-nav__left u-pull-left">
        <a class="c-nav__logo" href="#"></a>
    </div>

    <div class="c-nav__right u-pull-right">
        <ul class="c-nav__items">
          <li class="c-nav__item"><a class="c-nav__link" href="#"><span class="c-nav__link-text">Invest</span><i class="c-icon icon-invest"></i></a>{{ partial "dropdown-content-invest.html" . }}</li>
          <li class="c-nav__item"><a class="c-nav__link" href="#"><span class="c-nav__link-text">Fundraise</span><i class="c-icon icon-fundraise"></i></a>{{ partial "dropdown-content-fundraise.html" . }}</li>
          <li class="c-nav__item"><a class="c-nav__link" href="#"><span class="c-nav__link-text">Help</span><i class="c-icon icon-help"></i></a>{{ partial "dropdown-content-help.html" . }}</li>
          <li class="c-nav__item"><a class="c-nav__link" href="#">Log In</a></li>
          <li class="c-nav__item"><a class="c-nav__button" href="#">Sign Up</a></li>
          <li class="c-nav__item"><a class="c-nav__link" href="#"><div class="c-icon-network c-icon-united-kingdom"></div></a></li>
        </ul>
    </div>
  </nav>
</header>
<!-- /header -->
