<header class="c-header">
  <a class="c-header__logo" href="#"></a>

  <nav role="navigation" class="c-nav c-nav__primary">
    <ul class="c-nav__items">
      <li class="c-nav__item"><a class="c-nav__link" href="#">Invest</a></li>
      <li class="c-nav__item"><a class="c-nav__link" href="#">Fundraise</a></li>
      <li class="c-nav__item"><a class="c-nav__link" href="#">Messages</a></li>
      <li class="c-nav__item"><a class="c-nav__link" href="#">Help</a></li>
      <li class="c-nav__item"><a class="c-nav__link" href="#">User</a></li>
    </ul>
  </nav>
</header>
<!-- /header -->
