<header class="c-header c-header-wrap">

  <nav role="navigation" class="c-nav c-nav--primary">

    <div class="c-nav__left u-pull-left">
        <a class="c-nav__icon" href="#"></a>
    </div>

    <div class="c-nav__middle u-pull-left">
        <i class="c-icon icon-search-1"></i>
        <input class="c-nav__search" type="text" name="search" placeholder="Search..">
    </div>

    <div class="c-nav__right u-pull-right">
        <ul class="c-nav__items">
          <li class="c-nav__item"><a class="c-nav__link" href="#"><span class="c-nav__link-text">Invest</span><i class="c-icon icon-invest"></i></a>{{ partial "dropdown-content-invest.html" . }}</li>
          <li class="c-nav__item"><a class="c-nav__link" href="#"><span class="c-nav__link-text">Fundraise</span><i class="c-icon icon-fundraise"></i></a>{{ partial "dropdown-content-fundraise.html" . }}</li>
          <li class="c-nav__item"><a class="c-nav__link" href="#"><span class="c-nav__link-text">Help</span><i class="c-icon icon-help"></i></a>{{ partial "dropdown-content-help.html" . }}</li>
          <li class="c-nav__item"><a class="c-nav__link" href="#">Log In</a></li>
          <li class="c-nav__item"><a class="c-nav__button" href="#">Sign Up</a></li>
        </ul>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="#">Menu</a>{{ partial "dropdown-content-mobile.html" . }}</li>
        </ul>
    </div>
  </nav>
</header>
<!-- /header -->
