<div class="c-nav c-nav--secondary">
  <div class="o-wrap">
    <ul class="c-nav__items">
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Explore</span></a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Search</span></a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">My Portfolio</span></a></li>
      <li class="c-nav__item"><a href="#" class="c-nav__link-accent"><span class="">Newsfeed</span></a></li>
    </ul>
  </div>
</div>
